/* General */
* {
  scroll-behavior: smooth;
}

main {
  scroll-behavior: smooth;
  overflow: hidden;
  padding: 0 10rem;
  transition: all 800ms ease;
}

body {
  font-family: "Benton Sans", sans-serif;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #858d9d;
}


.active {
  background: transparent;
  color: rgb(189, 205, 250);
}

@media screen and (max-width: 1024px) {
  main {
    padding: 0 2rem;
  }
}

@media screen and (max-width: 600px) {
  main {
    padding: 0 1rem;
  }
}
