.footer {
    background: rgba(0, 73, 156, 0.925);
    padding: 2rem;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 7rem;
    height: 1rem;
  }
  
  .footer a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 16px;
    font-size: medium;
  }
  
  .footer p {
    color: #ffffff;
    position: absolute;
    font-size: smaller;
  }
  
  /* 
   Devices
   */
   @media screen and (max-width: 1024px) {
  }
  
  @media screen and (max-width: 600px) {
    .footer {
      padding: 1rem;
    }
  }
  